@charset "UTF-8";

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "fonte1";
    src: url(fonte1/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: "fonte2";
    src: url(fonte2/Domine-VariableFont_wght.ttf) format('truetype'); 
}
html, body{
    background-color: #BDCBCC;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
div#conteiner{
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-areas: 
    'header header'
    'div div'
    'main aside'
    'footer footer';
}

header{
    width: 100vw;
    display: block;
}
header>p{
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    font-size: 1,9em;
    font-weight: 600;
}
p > a{
    text-decoration: none;
    padding-left: 30px;
    color: #8ca2a3;
}
p > a:hover{
    color: rgb(83, 106, 83);
}

main{
    padding-top: 120px;
    padding-left: 9vw;
    padding-right: 3vw;
    min-width: 400px;
    max-width: 1000px;
    font-size: 1.2em;
}

section{
    line-height: 1.8em;
}
p#pad1{
    height: 170px;
}
div#titulo{
    width: 58vw;
    height: 20vh;
    background-image: url(../imagens/retangulo2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

div#conteiner > header.item{
    grid-column: span 2;
}
div#conteiner > div.item{
    grid-column: span 2;
}
div#conteiner > main.item{
    grid-column: 1;
}
div#conteiner > aside.item{
    grid-column: span 1;
}
div#conteiner > footer.item{
    grid-column: span 2;
}



section#primeiro{
    background-color: #ffffff;
    text-align: center;
}
section#primeiro > h1{
    color: darkred;
    padding-top: 60px;
    padding-bottom: 35PX;
    text-align: center;
    font-size: 2.2em;		
    font-variant: small-caps;
}
section#primeiro > p{
    display: inline-block;
    padding-bottom: 30px;
}
section#primeiro > p#bloco2{
    background-color: lightgray;
    color: white;
    height: 150px;
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
    padding: 20px;
    padding-top: 55px;
}
section#primeiro > p#bloco3{
    height: 40px;
}
section#segundo > p{
    padding-top: 10px;
    padding-bottom: 10px;
}
section#segundo > p#imagem{
    text-align: center;
    height: 150px;
    width: 300px;
    background-image: url(../imagens/barco3.png);
    background-size: 100% 100%;
    margin: auto;
}
section#terceiro > p{
    background-color: #ffffff;
    padding-left: 30px;
}

aside > p{
    padding-top: 18px;
    text-align: center;
    font-weight: 600;
    color: white;
}

div#blocos{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding-top: 120px;
}
.item2{
    color: black;
    flex: 1 1 300px;
    width: 300px;
}
div#blocos > p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
    padding-top: 10px;
}
div#blocos > p#laranja{
    background-color: #d4ce96;
    box-shadow: 5px 5px 10px rgba(169, 169, 169, 0.358);
}
div#blocos > p#rosa{
    background-color: #A3B38E;
    border-width: 10px;
    border-style: solid;
    border-color: #A3B38E;
    box-shadow: 5px 5px 10px rgba(169, 169, 169, 0.358);
    
}
div#blocos > p#amarelo{
    background-color: #d4ce96;
    border-width: 10px;
    border-style: solid;
    border-color: #d4ce96;
    box-shadow: 5px 5px 10px rgba(169, 169, 169, 0.358);
}

footer{
    padding-top: 50px;
}

nav{
    background-color: #ffffff;
    color: rgb(83, 106, 83);
    padding: 10px;
    text-align: center;
    font-weight: 700;
    width: 100vw;
}
p#t{
    background-color: aqua;
    width: 600px;
}